extends layout

block content
    h1 Loans
    include partials/_new_loan_button
    include partials/_loan_filter
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
        each loan in loans
            tr
              td
                a(href='/books/book_detail/' + loan.book.id) #{loan.book.title}
              td
                a(href='/patrons/patron_detail/' + loan.patron.id) #{loan.patron.fullName()}
              td #{loan.loanedOn()}
              td #{loan.returnBy()}
              td #{loan.returnedOn()}
              td
                unless loan.returned_on
                    a.button(href='/loans/return_book/' + loan.id) Return Book